# Visual Studio Code
.vscode/

# Node.js
node_modules/

# Environment files
.env
.env.local

# Logs
*.log

# Operating system
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.temp

# Build folders
dist/
build/